*{
   margin: 0;
   padding: 0;
}

a{
   text-decoration: none;
   transition: box-shadow 1s ease, color 1s 
}

li{
   text-decoration: none;
   list-style: none;
}

body{
   font-family: 'Oswald', sans-serif;
   background: linear-gradient(-45deg, #fefcea, #f1da36);
}
.logo{
   
   width: 100%;
   display: flex;
   justify-content: center;
}


.graficlogo{
   padding: 5px;
   max-width: 100%;
   box-sizing: border-box;
}

nav{
   margin: auto;
   height: 100%;

}

.topnav{
   background-color: #5B5B80
   font-size: 14px;
   mergin-top: 40px;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.topnav a{
   text-align: center;
   line-height:1em;
   padding: 14px 40px;
   font-size: 25px;
   display: flex;
   max-width: 100%;
   box-sizing: border-box;
   color: #000000;
   
}

.topnav a:hover{
   box-shadow: inset 0 -3em #000000;
   color: #FFFFFF;
}

.topnav .icon{
   display: none;
}

.advanteges_conteiner{
   display: flex;
   justify-content: center;
}

.advanteges
{
   padding-top: 40px;
   padding-top: 40px;
   width: 70%;
   display: flex;
   justify-content: space-between;
   text-align: center;
   flex-wrap: wrap;
   
}



@media screen and (max-width: 750px){
   .topnav{
   width: 100%;
   display: flex;
   justify-content: center;
   }

  
   
   .advanteges_conteiner{
    width: 100%;
    display: flex;
   justify-content: center;
    }
}

@media screen and (max-width: 590px){
   .advanteges{
      flex-direction: colomn;
      display: flex;
      justify-content: center;  
   }
   .advanteges_item{
      width: 100%;
   }
}
html { 
 position:relative; 
 min-height:100%;
}
footer{
   width: 100%;
   height: auto
   margin: 0 auto;
   text-align: center;
   padding-top: 25px;
   position: absolute;
   bottom: 0;
}

footer a{
   color: black;
   font-size: 12px;
   margin-left: 10px;
}
footer nav a:hover{
   border-bottom: 2px solid black;
}
.social img{
    margin-left: 10px;
    margin-botton: 10px;
    margin-top: 10px;
}

.social img:hover{
    background: #494949;
    border-radius: 50%;
}

